<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceMantenedorProductoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorProductoSoap1" />
                <binding name="WebServiceMantenedorProveedorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorProveedorSoap1" />
                <binding name="WebServiceMantenedorBodegaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorBodegaSoap1" />
                <binding name="WebServiceMantenedorBodegueroSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorBodegueroSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44314/WebServiceMantenedorProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorProductoSoap"
                contract="ServiceMantenedorProducto.WebServiceMantenedorProductoSoap"
                name="WebServiceMantenedorProductoSoap" />
            <endpoint address="https://localhost:44314/WebServiceMantenedorProveedor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorProveedorSoap"
                contract="ServiceMantenedorProveedor.WebServiceMantenedorProveedorSoap"
                name="WebServiceMantenedorProveedorSoap" />
            <endpoint address="https://localhost:44314/WebServiceMantenedorBodega.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorBodegaSoap"
                contract="ServiceMantenedorBodega.WebServiceMantenedorBodegaSoap"
                name="WebServiceMantenedorBodegaSoap" />
            <endpoint address="https://localhost:44314/WebServiceMantenedorBodeguero.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorBodegueroSoap"
                contract="ServiceMantenedorBodeguero.WebServiceMantenedorBodegueroSoap"
                name="WebServiceMantenedorBodegueroSoap" />
        </client>
    </system.serviceModel>
</configuration>